# Ignore RStudio specific files
.Rproj.user/
.Rhistory

# Ignore R environment files
.RData
.Ruserdata

# Ignore sensitive credentials and keys
config.yml
secrets.json
api_key.txt

# Ignore compiled code
*.dll
*.so

# Ignored datasets
data/Mid_Term_Course_Evaluation_Form_Preprocessed_with_PII.csv
data/
roughwork/